html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #615dad, #ffc8da);
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
h1,
p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
p {
    line-height: 1.5;
}
.uvodni {
    height: auto;
    width: 100%;
    margin: 0;
}
.piskvorky {
    background-color: #283e50;
    margin: 0;
}
.pravidla,
.zacitHrat,
.uvodniStranka {
    display: block;
    text-decoration: none;
    margin: 0px;
    padding: 15px;
    color: #ffffff;
    font-size: 15px
}

.pravidla,
.uvodniStranka,
.home {
    background-color: #1fcca4;
}
.zacitHrat,
.restart {
    background-color: #0197f6;
}
.pravidla:hover,
.pravidla:focus,
.pravidla:active,
.uvodniStranka:hover,
.uvodniStranka:focus,
.uvodniStranka:active,
.home:hover,
.home:focus,
.home:active {
    background-color: #1cbb96;
}
.zacitHrat:hover,
.zacitHrat:focus,
.zacitHrat:active,
.restart:hover,
.restart:focus,
.restart:active {
    background-color: #0090e9;
}
 ol {
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 20px;
    text-align: left;
    line-height: 1.5
} 
.rules {
    margin-bottom: -20px;
}

.box,
.boxRules,
.hra {
    color: #ffffff;
    text-align: center;
    border: 2px;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    flex-wrap: wrap;
}
.boxRules {
    background-color: #283e50;
}

.pieces {
    filter: invert(100%);
    width: 1em;
    height: 1em;
}

.pictures img {
    width: 95%;
}

.figure,
.pictures {
    height: auto;
    width: 95%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
}



/* HRA */

h2 {
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 45px;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

}
.hra {
    max-width: 80vmin;
    display: flex;
}

.array {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    font-size: 25px;
}
.buttons {
    display: flex;
}
.home,
.restart {
    margin: 5px;
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.circleOrCross {
    filter: invert(100%);
    width: 1em;
    height: 1em;
    margin-left: 10px;
}
.player {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}
.grid {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  
}
.grid button {
  border: 1px solid rgb(41, 41, 41);
  width: 10%;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  opacity: 0.6;
}

.grid button:hover,
.gird button:focus {
    opacity: 0.9;
}

.board__field--circle {
    background: url(obrazky/circle.svg) no-repeat center center;
    background-size: 80%;
  }
  
  .board__field--cross {
    background: url(obrazky/cross.svg) no-repeat center center;
    background-size: 80%;
  }


/*Zatim negunkcni bonusovy ukol
/*  @keyframes fadeOut {
        0% {opacity: 0;}
        100% {opacity: 1;} 
     } 
.src {
    animation-name: fadeOut;
    animation-duration: 0.15s;
    animation-duration: 0.45s;
} */

